.accordion {
    .vc-card-header {
        border-bottom: $borderBottomDark;
        background-color: $colorCartHeader;
        .btn-link {
            @include vcCardHeaderBtn();
            &:hover,
            &:focus,
            &active {
                text-decoration: $txtNotUnderlined;
            }
            span {
                font-size: 1.25rem;
                @include phone {
                    font-size: 1rem;
                }
            }          
        }         
    }
}
span.fa-plus-svg,
span.fa-minus-svg {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
}
span.fa-plus-svg {
    background-image: url("/static/img/plus.svg");
}
span.fa-minus-svg {
    background-image: url("/static/img/minus.svg");
}
