// ===== Carousel Bullets ===== //
.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

// ===== Modals ===== //
.modal-content {
    border: none;
    border-radius: 0;
}