<section class="Modal.body-categories">
    <div class="naviRelated d-block d-md-none">
        <a href="https://m.venca.es/e/38/moda-mujer" data-track-event="">Mujer</a>
    </div>
    <div class="relatedStorefront d-flex flex-column m-3 m-sm-0">
        <a href="https://m.venca.es/e/9/moda-bano" class="py-2" data-track-event="">
            <span>Novedades moda baño</span>
        </a>
        <a href="https://m.venca.es/e/351/banadores-mujer" class="py-2" data-track-event="">
            <span>Bañadores</span>
        </a>
        <a href="https://m.venca.es/e/76/bikinis-y-banadores-tallas-grandes" class="py-2" data-track-event="">
            <span>Bañadores mujer tallas grandes</span>
        </a>
        <a href="https://m.venca.es/e/396/bikinis-braga-talle-alto" class="py-2" data-track-event="">
            <span>Moda baño moldeadora</span>
        </a>
        <a href="https://m.venca.es/e/352/mujer-bano-combinables" class="py-2" data-track-event="">
            <span>Bikinis combinables</span>
        </a>
        <a href="https://m.venca.es/e/350/bikinis" class="py-2" data-track-event="">
            <span>Bikinis</span>
        </a>
        <a href="https://m.venca.es/e/1288/bikinis-en-tallas-grandes" class="py-2" data-track-event="">
            <span>Bikinis en tallas grandes</span>
        </a>
        <a href="https://m.venca.es/e/1337/ofertas-en-moda-bano" class="py-2" data-track-event="">
            <span>Ofertas en moda baño</span>
        </a>
        <a href="https://m.venca.es/e/1167/swimsuit" class="py-2" data-track-event="">
            <span>Superprecios en moda baño</span>
        </a>
        <a href="https://m.venca.es/e/50/complementos-playa" class="border-bottom py-2" data-track-event="">
            <span>Complementos playa</span>
        </a>
    </div>
</section>               