<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopVenca Storeftonts</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Swipe CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.2.0/css/swiper.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../dist/css/main.min.css">  
</head>

<body>  
    <main class="container mt-3 mb-3">
        <article id="vcStorefronts" class="asyncprod">
            
            <!-- Title or Lookbook -->
            <section id="headerTitle" class="row d-none d-lg-block">
                <div class="col-12 d-flex justify-content-center">
                    <h1 class="storefront-title FS-20 text-center text-uppercase font-weight-lighter">Belleza y Cosmética</h1> 
                </div>
                <div class=" col-md-12">
                    <img src="./static/img//banner.jpg" class="img-fluid" >
                    <div class="storefront-description w-50 d-flex justify-content-center">
                        <p class="FS-1 text-center">Descubre nuestra selección en productos de belleza. Fragancias, maquillaje, y todo lo que necesitas para cuidar tus rostro, cuerpo y cabello. También para ellos y los más pequeños. ¡Entra ya!</p>
                    </div>
                </div>
            </section>

            <!-- Commercial Title & Filter CTA -->
            <section id="cTitleFilterCall" class="row d-flex d-lg-none pb-1 m-2">
                <div class="newCommercialTitle FS10">
                    <h1 class="FS-1 font-weight-bold text-secondary">Vestidos de mujer</h1>
                </div>
                <div class="newFilterIcon ml-auto" data-toggle="modal" data-target="#filtersId">
                    <div class="d-flex">
                        <img src="./static/img/filters.svg" alt="Filtros de búsqueda" width="14">
                        <span class="pl-1">Filtros <strong class="vc-color countFilter outmodal">(1)</strong></span>
                    </div>
                    <!-- Modal Filters -->
                    <div class="modal fade" id="filtersId" tabindex="-1" role="dialog" aria-labelledby="filtersModalLabel" aria-hidden="true">
                        <div class="modal-dialog m-0" role="document">
                            <div class="modal-content FS-20vh vc-vw-height-100">
                                <div class="modal-header">
                                    <h5 class="modal-title text-uppercase" id="exampleModalLabel">Filtrar</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                    </button>
                                </div>                         
                                <div class="modal-body bg-white">
                                    ¨{{> partials/_Filters }}
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section> 
           
            <!-- Swiper Categories -->
            <section id="categories" class="row mt-2">
                <div class="col-12">
                    <div class="swiper-container swpCategory">
                        <div class="swiper-wrapper font-weight-bold">
                            <a href="/" class="tab swiper-slide">Maquillaje</a>
                            <a href="/" class="tab swiper-slide">Fragancias</a>
                            <a href="/" class="tab swiper-slide">Cuidado facial</a>
                            <a href="/" class="tab swiper-slide">Cuidado del cabello</a>
                            <a href="/" class="tab swiper-slide">Hidratantes</a>
                            <a href="/" class="tab swiper-slide">Ojos y labios</a>
                            <a href="/" class="tab swiper-slide">Exfoliantes</a>
                            <a href="/" class="tab swiper-slide">Salud y bienestar</a>
                            <a href="/" class="tab swiper-slide">Mascarillas</a>
                            <a href="/" class="tab swiper-slide">Coloración</a>
                            <a href="/" class="tab swiper-slide">Reafirmantes</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Main  Zone -->
            <section id="products">
                <div id="mainDesktop" class="row">            
                    <!-- Categories & Filters Desktop -->
                    <section id="categoriesAndFiltersDK" class="col-md-4 col-lg-3 mt-3 d-none d-md-block">
                        <div class="row">
                            <div class="col-12 mt-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="FS-15 text-uppercase">filtros</span>
                                    <span>
                                        <a class="" data-ob-directive="Storefront.FilterClearAllDirective">Borrar filtros</a>
                                    </span>
                                </div>
                                <hr class="w-100 mt-3">

                                <!-- Accordion Filtros -->
                                {{> partials/_Filters }}

                                <!-- Accordion Categories -->
                                <div class="accordion mt-5" id="accordionCategoriesDK" data-filter-name="categories">
                                    <div class="vc-card">
                                        <div class="vc-card-header" id="headingCategoriesDK">                                          
                                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseCategoriesDK" aria-expanded="true" aria-controls="collapseCategoriesDK">
                                                <span class="FS-15">Categorías</span>
                                                {{!-- <i class="vc-color fas fa-minus"></i> --}}
                                                <span class="fas fa-minus-svg"></span>
                                            </button>									
                                        </div>
                                        <div id="collapseCategoriesDK" class="collapse show" aria-labelledby="headingCategoriesDK" data-parent="#accordionCategoriesDK">
                                            <div class="card-body p-0">
                                                {{> partials/_Categories }}
                                            </div>  
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>                

                    <!-- Main Storefront -->
                    <section class="col-12 col-md-8 col-lg-9 main-zone">
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Breadcrumbs -->             
                            <nav id="breadcrumbs" aria-label="breadcrumb">
                                <ol class="breadcrumb pl-0 my-2">
                                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                                    <li class="breadcrumb-item"><a href="#">Mujer</a></li>
                                    <li class="breadcrumb-item"><a href="#"></a>Moda</li>
                                    <li class="breadcrumb-item active d-none d-lg-block" aria-current="page">Bikini 2 piezas sujetador y braga estampado</li>
                                </ol>
                            </nav>
                            <!-- Sorting -->
                            <div id="storeSorting" class="dropdown  d-none d-lg-block">
                                <span class="pr-1">Ordenar por</span>
                                <button id="dropdownSort" class="dropdown-toggle bg-white border border-light px-3 py-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="selectedSort" class="font-weight-light" data-sort="relevance">Relevancia</span>
                                </button>
                                <ul class="dropdown-menu ">
                                    <li><span tabindex="-1" data-sort="relevance">Relevancia</span></li>
                                    <li><span tabindex="-1" data-sort="price-asc">Precio menor</span></li>
                                    <li><span tabindex="-1" data-sort="price-desc">Precio mayor</span></li>
                                    <li><span tabindex="-1" data-sort="new">Novedades</span></li>
                                </ul>                      
                            </div>
                            <!-- Toggle Product One/Two Columns -->
                            <div id="toggleColumn" class="d-block d-md-none">
                                <i id="productOne" class="fas fa-square fa-2x pr-1 vc-disabled"></i>
                                <i id="productTwo" class="fas fa-pause fa-2x pl-1"></i>
                            </div>
                        </div>
                        
                       <!-- Grid -->
                        <section class="row vc-grid">
                            <!-- Product 1 -->
                            <div class="col-6 col-md-6 col-lg-4">
                                <div class="square-frame">
                                    <img src="./static/img/vc-01.jpg" class="img-fluid" alt=""> 
                                </div>
                                <div class="storyboard">
                                    <div class="d-flex justify-content-between">
                                        <span class="store-brand font-weight-normal">Blancheporte</span>
                                        <div class="wishIconAnimate">
                                            <button class="border-0 rounded-circle bg-white "><i class="far fa-heart FS-15"></i></button>
                                        </div>
                                    </div>
                                    <p class="store-description text-truncate mb-1">Champú y suavizante nutriente revitalizador aceite</p> 
                                    <div class="store-prices">
                                        <span class=" text-muted pr-1">desde</span>
                                        <span class=" storeFrontsPreviousPrice"><s>29,98€</s></span>
                                        <span class="font-weight-bold text-danger storeFrontsFinalPrice">14,99€</span>
                                    </div>
                                </div>           
                            </div>

                            <!-- Product 2 -->            
                            <div class="col-6 col-md-6 col-lg-4">
                                <div class="square-frame">
                                    <img src="./static/img/vc-02.jpg" class="img-fluid" alt=""> 
                                </div>
                                <div class="storyboard">
                                    <div class="d-flex justify-content-between">
                                        <span class="store-brand font-weight-normal">Blancheporte</span>
                                        <div class="wishIconAnimate">
                                            <button class="border-0 rounded-circle bg-white "><i class="far fa-heart FS-15"></i></button>
                                        </div>
                                    </div>
                                    <p class="store-description text-truncate mb-1">Champú y suavizante nutriente revitalizador aceite</p> 
                                    <div class="store-prices">
                                        <span class=" text-muted pr-1">desde</span>
                                        <span class=" storeFrontsPreviousPrice"><s>29,98€</s></span>
                                        <span class="font-weight-bold text-danger storeFrontsFinalPrice">14,99€</span>
                                    </div>
                                </div>                      
                            </div>

                            <!-- Product 3 -->
                            <div class="col-6 col-md-6 col-lg-4">
                                <div class="square-frame">
                                    <img src="./static/img/vc-03.jpg" class="img-fluid" alt=""> 
                                </div>
                                <div class="storyboard">
                                    <div class="d-flex justify-content-between">
                                        <span class="store-brand font-weight-normal">Blancheporte</span>
                                        <div class="wishIconAnimate">
                                            <button class="border-0 rounded-circle bg-white "><i class="far fa-heart FS-15"></i></button>
                                        </div>
                                    </div>
                                    <p class="store-description text-truncate mb-1">Champú y suavizante nutriente revitalizador aceite</p> 
                                    <div class="store-prices">
                                        <span class=" text-muted pr-1">desde</span>
                                        <span class=" storeFrontsPreviousPrice"><s>29,98€</s></span>
                                        <span class="font-weight-bold text-danger storeFrontsFinalPrice">14,99€</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Product 4 -->
                            <div class="col-6 col-md-6 col-lg-4">
                                <div class="square-frame">
                                    <img src="./static/img/vc-04.jpg" class="img-fluid" alt=""> 
                                </div>
                                <div class="storyboard">
                                    <div class="d-flex justify-content-between">
                                        <span class="store-brand font-weight-normal">Blancheporte</span>
                                        <div class="wishIconAnimate">
                                            <button class="border-0 rounded-circle bg-white "><i class="far fa-heart FS-15"></i></button>
                                        </div>
                                    </div>
                                    <p class="store-description text-truncate mb-1">Champú y suavizante nutriente revitalizador aceite</p> 
                                    <div class="store-prices">
                                        <span class=" text-muted pr-1">desde</span>
                                        <span class=" storeFrontsPreviousPrice"><s>29,98€</s></span>
                                        <span class="font-weight-bold text-danger storeFrontsFinalPrice">14,99€</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Product 5 -->
                            <div class="col-6 col-md-6 col-lg-4">
                                <div class="square-frame">
                                    <img src="./static/img/vc-05.jpg" class="img-fluid" alt=""> 
                                </div>
                                <div class="storyboard">
                                    <div class="d-flex justify-content-between">
                                        <span class="store-brand font-weight-normal">Blancheporte</span>
                                        <div class="wishIconAnimate">
                                            <button class="border-0 rounded-circle bg-white "><i class="far fa-heart FS-15"></i></button>
                                        </div>
                                    </div>
                                    <p class="store-description text-truncate mb-1">Champú y suavizante nutriente revitalizador aceite</p> 
                                    <div class="store-prices">
                                        <span class=" text-muted pr-1">desde</span>
                                        <span class=" storeFrontsPreviousPrice"><s>29,98€</s></span>
                                        <span class="font-weight-bold text-danger storeFrontsFinalPrice">14,99€</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Product 6 -->
                            <div class="col-6 col-md-6 col-lg-4">
                                <div class="square-frame">
                                    <img src="./static/img/vc-06.jpg" class="img-fluid" alt=""> 
                                </div>
                                <div class="storyboard">
                                    <div class="d-flex justify-content-between">
                                        <span class="store-brand font-weight-normal">Blancheporte</span>
                                        <div class="wishIconAnimate">
                                            <button class="border-0 rounded-circle bg-white "><i class="far fa-heart FS-15"></i></button>
                                        </div>
                                    </div>
                                    <p class="store-description text-truncate mb-1">Champú y suavizante nutriente revitalizador aceite</p> 
                                    <div class="store-prices">
                                        <span class=" text-muted pr-1">desde</span>
                                        <span class=" storeFrontsPreviousPrice"><s>29,98€</s></span>
                                        <span class="font-weight-bold text-danger storeFrontsFinalPrice">14,99€</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Product 7 -->
                            <div class="col-6 col-md-6 col-lg-4">
                                <div class="square-frame">
                                    <img src="./static/img/vc-07.jpg" class="img-fluid" alt=""> 
                                </div>
                                <div class="storyboard">
                                    <div class="d-flex justify-content-between">
                                        <span class="store-brand font-weight-normal">Blancheporte</span>
                                        <div class="wishIconAnimate">
                                            <button class="border-0 rounded-circle bg-white "><i class="far fa-heart FS-15"></i></button>
                                        </div>
                                    </div>
                                    <p class="store-description text-truncate mb-1">Champú y suavizante nutriente revitalizador aceite</p> 
                                    <div class="store-prices">
                                        <span class=" text-muted pr-1">desde</span>
                                        <span class=" storeFrontsPreviousPrice"><s>29,98€</s></span>
                                        <span class="font-weight-bold text-danger storeFrontsFinalPrice">14,99€</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Product 8 -->
                            <div class="col-6 col-md-6 col-lg-4">
                                <div class="square-frame">
                                    <img src="./static/img/vc-08.jpg" class="img-fluid" alt=""> 
                                </div>
                                <div class="storyboard">
                                    <div class="d-flex justify-content-between">
                                        <span class="store-brand font-weight-normal">Blancheporte</span>
                                        <div class="wishIconAnimate">
                                            <button class="border-0 rounded-circle bg-white "><i class="far fa-heart FS-15"></i></button>
                                        </div>
                                    </div>
                                    <p class="store-description text-truncate mb-1">Champú y suavizante nutriente revitalizador aceite</p> 
                                    <div class="store-prices">
                                        <span class=" text-muted pr-1">desde</span>
                                        <span class=" storeFrontsPreviousPrice"><s>29,98€</s></span>
                                        <span class="font-weight-bold text-danger storeFrontsFinalPrice">14,99€</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Product 9 -->
                            <div class="col-6 col-md-6 col-lg-4">
                                <div class="square-frame">
                                    <img src="./static/img/vc-09.jpg" class="img-fluid" alt=""> 
                                </div>
                                <div class="storyboard">
                                    <div class="d-flex justify-content-between">
                                        <span class="store-brand font-weight-normal">Blancheporte</span>
                                        <div class="wishIconAnimate">
                                            <button class="border-0 rounded-circle bg-white "><i class="far fa-heart FS-15"></i></button>
                                        </div>
                                    </div>
                                    <p class="store-description text-truncate mb-1">Champú y suavizante nutriente revitalizador aceite</p> 
                                    <div class="store-prices">
                                        <span class=" text-muted pr-1">desde</span>
                                        <span class=" storeFrontsPreviousPrice"><s>29,98€</s></span>
                                        <span class="font-weight-bold text-danger storeFrontsFinalPrice">14,99€</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Product 10 -->
                            <div class="col-6 col-md-6 col-lg-4">
                                <div class="square-frame">
                                    <img src="./static/img/vc-10.jpg" class="img-fluid" alt=""> 
                                </div>
                                <div class="storyboard">
                                    <div class="d-flex justify-content-between">
                                        <span class="store-brand font-weight-normal">Blancheporte</span>
                                        <div class="wishIconAnimate">
                                            <button class="border-0 rounded-circle bg-white "><i class="far fa-heart FS-15"></i></button>
                                        </div>
                                    </div>
                                    <p class="store-description text-truncate mb-1">Champú y suavizante nutriente revitalizador aceite</p> 
                                    <div class="store-prices">
                                        <span class=" text-muted pr-1">desde</span>
                                        <span class=" storeFrontsPreviousPrice"><s>29,98€</s></span>
                                        <span class="font-weight-bold text-danger storeFrontsFinalPrice">14,99€</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Product 11 -->
                            <div class="col-6 col-md-6 col-lg-4">
                                <div class="square-frame">
                                    <img src="./static/img/vc-11.jpg" class="img-fluid" alt=""> 
                                </div>
                                <div class="storyboard">
                                    <div class="d-flex justify-content-between">
                                        <span class="store-brand font-weight-normal">Blancheporte</span>
                                        <div class="wishIconAnimate">
                                            <button class="border-0 rounded-circle bg-white "><i class="far fa-heart FS-15"></i></button>
                                        </div>
                                    </div>
                                    <p class="store-description text-truncate mb-1">Champú y suavizante nutriente revitalizador aceite</p> 
                                    <div class="store-prices">
                                        <span class=" text-muted pr-1">desde</span>
                                        <span class=" storeFrontsPreviousPrice"><s>29,98€</s></span>
                                        <span class="font-weight-bold text-danger storeFrontsFinalPrice">14,99€</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Product 12 -->
                            <div class="col-6 col-md-6 col-lg-4">
                                <div class="square-frame">
                                    <img src="./static/img/vc-12.jpg" class="img-fluid" alt=""> 
                                </div>
                                <div class="storyboard">
                                    <div class="d-flex justify-content-between">
                                        <span class="store-brand font-weight-normal">Blancheporte</span>
                                        <div class="wishIconAnimate">
                                            <button class="border-0 rounded-circle bg-white "><i class="far fa-heart FS-15"></i></button>
                                        </div>
                                    </div>
                                    <p class="store-description text-truncate mb-1">Champú y suavizante nutriente revitalizador aceite</p> 
                                    <div class="store-prices">
                                        <span class=" text-muted pr-1">desde</span>
                                        <span class=" storeFrontsPreviousPrice"><s>29,98€</s></span>
                                        <span class="font-weight-bold text-danger storeFrontsFinalPrice">14,99€</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>      
                </div>  
            </section> 
        </article>
    </main>

    <!-- ScrollToTop Button -->
    <div class=" d-none d-xl-block">
        <div class="btn-scroll-top text-center">
            <i class="fas fa-angle-up fa-2x text-white pt-2"></i>
        </div>
    </div>
                        
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Swiper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.2.0/js/swiper.min.js"></script>

    <script>
        var swiper = new Swiper('.swpCategory', {
            slidesPerView: "auto",
            spaceBetween: 10,
            freeMode: true,
        });
    </script>

</body>
</html>